body{
    height: auto;
    margin: 0%;
}

header > h1{
    background-color: red;
    margin: 0%;
    padding: 10px;
    text-align: center;
}

#navigate{
    position: sticky;
    top: 0%;
}

.menu{
    margin: 0%;
    background-color: rgb(0,0, 0,0.5);
}

.menu li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu li{
    padding: 10px;
    display: inline-block;
}

.menu li :hover{
    background-color: rgb(0,0, 0,0.7)
}

.menu li:nth-child(2):hover #dropdown{
    display: block;
}

#dropdown{
 position: absolute;
 width: auto;
 max-width: 100px;
 display: none;
 background-color: white;
 padding: 0%;   
}


#dropdown li a{
    color: blue;
    font-size: 16px;
}